*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 100%;
    background-color: #09cce6;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    margin: 0 20px;
}
.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}
.logout-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    cursor: pointer;
    width: 100px;
    background: transparent;
    color: white;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}
.logout-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 90%;
    height: 70%;
    top: 25%;
    position: absolute;
}
.app-text{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text h1{
    width: 540px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text p{
    width: 550px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture{
    width: 45%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner1{
    width: 80%;
    height: 70%;
    top: 650px;
    position: absolute;

}
.app-text1{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text1 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text1 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture1{
    width: 30%;
    margin-left: 50px;
    float: left;
}
.app-picture1 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1150px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1150px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner3{
    width: 80%;
    height: 70%;
    top: 1750px;
    position: absolute;

}
.app-text3{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text3 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text3 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture3{
    width: 40%;
    float: left;
    margin-left: 50px;
}
.app-picture3 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}
