*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #2f7cbd;
    margin: 0;
}
.menu{
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    margin: 0 20px;  
}
.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}
.logout-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}
.logout-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 100px;
    position: absolute;
}
.app-text{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture{
    width: 45%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner1{
    width: 80%;
    height: 70%;
    top: 650px;
    position: absolute;
    right: 100px;
}
.app-text1{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text1 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text1 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture1{
    width: 30%;
    float: left;
}
.app-picture1 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1150px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1150px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner3{
    width: 80%;
    height: 70%;
    top: 1750px;
    position: absolute;
    right: 100px;
}
.app-text3{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text3 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text3 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture3{
    width: 40%;
    float: left;
}
.app-picture3 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}

/*========Data User Css========*/


/*.sidebar{
    width: 250px;
    float: left;
    height: 100%;
    z-index: 1;
    top: 0;
    position: fixed;
    margin-top: 65px;
    float: left;
    left: 0;
    transition-property: left;
}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #0b6c79;
    letter-spacing: 1px;===============*/
}
nav ul{
    background:#042e33;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.1);
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    background-color: #0b6c79;
    color: white;
    border-left-color: white;
}
nav ul ul{
    position: static;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color: white;
    padding-left: 70px;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: 0.4s;
}
 
.content{
    width: 1080px;
    margin-left: 150px;
    margin-top: 25px;
    height: 100%;
}
.content .con1{
    width: 1060px;
    padding: 10px;
    margin-left: 10px;
    height: 100%;
    background-color: whitesmoke;
}
.box{
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600%;
    margin-left: 13%;
    margin-top: 2%;
}

