*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #2f7cbd;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    margin: 0 20px;  
}
.logo img{
    width: 50px;
    margin-top: -7px;
    margin-right: 48px;
}
.logout-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}
.logout-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 100px;
    position: absolute;
    margin-top: 180px;
}
.app-text{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture{
    width: 45%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner1{
    width: 80%;
    height: 70%;
    top: 780px;
    position: absolute;
    right: 100px;
}
.app-text1{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text1 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text1 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture1{
    width: 30%;
    float: left;
}
.app-picture1 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1260px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner2{
    width: 80%;
    height: 70%;
    top: 1160px;
    left: 100px;
    position: absolute;
}
.app-text2{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.app-text2 h1{
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #434b55;
}
.app-text2 p{
    width: 650px;
    font-size: 15px;
    margin: 15px 0 30px 40px;
    line-height: 24px;
    color: #505f75;
}
.app-picture2{
    width: 40%;
    float: right;
}
.app-picture2 img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.banner3{
    width: 80%;
    height: 70%;
    top: 1720px;
    position: absolute;
    right: 100px;
}
.app-text3{
    margin-top: 10%;
    width: 50%;
    float: right;
}
.app-text3 h1{
    width: 640px;
    position: relative;
    color: #434b55;
}
.app-text3 p{
    width: 500px;
    font-size: 15px;
    margin: 15px 30px 0px px;
    line-height: 24px;
    color: #505f75;
}
.app-picture3{
    width: 40%;
    float: left;
}
.app-picture3 img{
    width: 100%;
    margin-top: -20px;
    padding-right: 50px;
}

.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 95%;
    float: left;
    
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .chat::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .chat img {
    float: left;
    max-width: 35px;
    width: 30%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  .mess {
   background-color: #ffffff;
  }
  .mess input {
    border-radius: 5px;
    border-color: #dedede;
    border-width: 1;
    outline-width: 1;
    outline-color:#dedede;
      margin-top: 50px;
      height: 30px;
      padding: 5px;
  }
  
  .chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:100%;
    width:900px;
    border:1px solid #1366ad;
    overflow:auto; }

    .bar {
        text-align:left;
        font-size: xx-large;
        margin:0 auto;
        margin-top: 25px;
        padding:11px;
        background:#fff;
        height:50px;
        width: 900px;
        background-color:  #1366ad;
        overflow:auto; 
 }

 .panel {
	margin: 15px auto 15px;
	max-width: 250px;
}

.admin-panel {
    padding: 11px 0;
    /* margin: 0 25px; */
	/* background-color: #f8f8f8; */
	border-radius: 3px;
	/* box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 ); */
}

.admin-panel .text {
	color: #fffdfd;
	/* font-size: 13px; */
	/* font-weight: bold; */
	/* text-transform: uppercase; */
	text-decoration: none;
	margin-left: 10px;
}

.admin-panel .fa-cog {
	float: right;
	margin-right: 10px;
	font-size: 20px;
	color: #888888;
}

.admin-panel :hover { cursor: pointer; color: #555555; }

input#toggle { display: none; }
input#toggle ~ .menu-panel { display: block; }
input#toggle:checked ~ .menu-panel { display: none; }

.menu-panel {
    height: 100px;
	/* margin-top: 15px; */
	background-color: #f8f8f8;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
}

/* .arrow {
	position: absolute;
	top: 111px;
	margin-left: 15px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #f8f8f8;
} */

.menu-panel .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-panel .column-left {
	float: left;
	width: 85%;
	margin-left: 10px;
}

.menu-panel .column-right {
	float: right;
	width: 50px;
	padding: 8px;
	text-align: right;
}

/* Clear floats after the columns */
.menu-panel .row:after {
	content: '';
	display: table;
	clear: both;
}

.menu-panel a {
	color: #888888;
	/* font-size: 13px;
	font-weight: bold; */
	/* text-transform: uppercase; */
	text-decoration: none;
}

.menu-panel i {
	font-size: 15px;
	width: 25px;
	text-align: center;
}

.menu-panel:hover .row:hover { background: #ebebeb; color: #555555; border-radius: 3px; }

.menu-panel:hover a { color: #bebebe; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
